Source: buildsystem-unittests
Section: non-free/extra
Priority: extra
Maintainer: Dima Kogan <dima@oblong.com>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.8.4


Package: liboblong-a5.6
Section: non-free/extra
Architecture: any
Provides: liboblong-a
Depends: ${shlibs:Depends}, ${misc:Depends}, debsums
Description: liba
 unit test library a

Package: liboblong-a5.6-dbg
Section: non-free/debug
Architecture: any
Provides: liboblong-a-dbg
Depends: ${misc:Depends},
         liboblong-a5.6 (= ${binary:Version})
Description: liba debug symbols
 unit test library a - debug symbols

Package: liboblong-a5.6-dev
Section: non-free/libdevel
Architecture: any
Provides: liboblong-a-dev
Depends: ${misc:Depends},
         liboblong-a5.6 (= ${binary:Version})
Description: liba dev
 unit test library a - dev

Package: liboblong-b5.6
Section: non-free/extra
Architecture: any
Provides: liboblong-b
Depends: ${shlibs:Depends}, ${misc:Depends}, debsums
Description: libb
 unit test library b

Package: liboblong-b5.6-dbg
Section: non-free/debug
Architecture: any
Provides: liboblong-b-dbg
Depends: ${misc:Depends},
         liboblong-b5.6 (= ${binary:Version})
Description: libb debug symbols
 unit test library b - debug symbols

Package: liboblong-b5.6-dev
Section: non-free/libdevel
Architecture: any
Provides: liboblong-b-dev
Depends: ${misc:Depends},
         liboblong-b5.6 (= ${binary:Version})
Description: libb dev
 unit test library b - dev

Package: liboblong-c5.6
Section: non-free/extra
Architecture: any
Provides: liboblong-c
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: libc
 unit test library c

Package: liboblong-c5.6-dbg
Section: non-free/debug
Architecture: any
Provides: liboblong-c-dbg
Depends: ${misc:Depends},
         liboblong-c5.6 (= ${binary:Version})
Description: libc debug symbols
 unit test library c - debug symbols

Package: liboblong-c5.6-dev
Section: non-free/libdevel
Architecture: any
Provides: liboblong-c-dev
Depends: ${misc:Depends},
         liboblong-c5.6 (= ${binary:Version})
Description: libc dev
 unit test library c - dev

Package: oblong-test-utility
Section: non-free/extra
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, debsums
Description: test utility
 unit test utility

Package: oblong-test-utility-dbg
Section: non-free/debug
Architecture: any
Depends: ${misc:Depends},
         oblong-test-utility (= ${binary:Version})
Description: test utility
 unit test utility - dbg
