Source: oblong-buildsystem
Section: devel
Priority: extra
Maintainer: Dima Kogan <dima@oblong.com>
Build-Depends: debhelper (>= 7.0.50~), org-mode, liblist-compare-perl, zsh, perl(>=5.10), dh-make-perl, libipc-run-perl, gawk, gmsl
Standards-Version: 3.8.4
Vcs-Browser: http://www.github.com/dkogan/buildsystem
Vcs-Git: git://github.com/dkogan/buildsystem.git

Package: oblong-buildsystem1
Section: devel
Architecture: all
Depends: ${misc:Depends}, make, gawk, perl(>=5.10), dh-make-perl, gmsl
Description: Oblong Industries' build/packaging system
 The system originally used to build and distribute various software written by
 Oblong Industries.

